$icon-font-name: "ks-icon" !default;


$icon-share: "\e918";
$icon-star: "\e919";
$icon-discord: "\e915";
$icon-reactjs: "\e900";
$icon-vuejs: "\e901";
$icon-symfony: "\e902";
$icon-sass: "\e903";
$icon-php: "\e904";
$icon-nodejs: "\e905";
$icon-nginx: "\e906";
$icon-nextjs: "\e907";
$icon-mongodb: "\e908";
$icon-mariadb: "\e909";
$icon-laravel: "\e90a";
$icon-jira: "\e90b";
$icon-jetbrains: "\e90c";
$icon-golang: "\e90d";
$icon-gitlab: "\e90e";
$icon-github: "\e90f";
$icon-git: "\e910";
$icon-elastic: "\e911";
$icon-docker: "\e912";
$icon-confluence: "\e913";
$icon-nuxtjs: "\e914";
$icon-linkedin: "\e916";
$icon-twitter: "\e917";
$icon-brand: "\e917";
$icon-tweet: "\e917";
$icon-social: "\e917";

