{{ define "critical" }}
    {{ (resources.Get "critical.post.scss" | resources.ToCSS | minify).Content | safeCSS }}
{{ end }}
{{ define "js" }}
    <!-- no -->
{{ end }}
{{ define "main" }}
<article class="post">
    <h1 class="post__title">{{ .Title | safeHTML }}</h1>
    <div class="post__info">
        <p class="post__time">
            <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} minutes read
        </p>
        <nav class="post__social">
            <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title | plainify }}"><i class="icon-twitter"></i></a>
        </nav>
    </div>
    <img height="325" alt="{{ .Title }}" title="{{ .Title }}" class="post__main-picture" src="{{ .Params.Image | relURL }}" />

    <div class="content">
      {{ .Content }}
    </div>

    {{ if or .PrevInSection .NextInSection }}
        <div class="pagination__separator"></div>
        <section class="pagination">
            {{ with .PrevInSection }}
                <a class="pagination__child" href="{{ .Permalink }}">{{ .Title | plainify }}</a>
            {{ end }}
            {{ with .NextInSection }}
                <a class="pagination__child" href="{{ .Permalink }}">{{ .Title | plainify }}</a>
            {{ end }}
        </section>
    {{ end }}

    {{ template "_internal/disqus.html" . }}

</article>

{{ end }}

