<nav class="navigations">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $active := (eq .Name $currentPage.Title) }}
    {{ $active = or $active (and (eq .Identifier "blog") (eq $currentPage.Section "post")) }}
    {{ $active = or $active (and (eq .Identifier "home") (eq $currentPage.Title "")) }}
    {{ $active = or $active (and (eq .Name "Works") (eq $currentPage.Section "work")) }}
    {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
    {{ if eq .Identifier "logo" }}
    <a id="head" class="navigations__logo" title="{{ .Name }}" href="/">
        <div data-pos="f" class="head head__f active"></div>
        <div data-pos="s" class="head head__s"></div>
        <div data-pos="l" class="head head__l"></div>
        <div data-pos="r" class="head head__r"></div>
        <div data-pos="d" class="head head__d"></div>
        <div data-pos="dl" class="head head__dl"></div>
        <div data-pos="dr" class="head head__dr"></div>
    </a>
    {{ else }}
    <a title="{{ .Name }}"
       href="{{ .URL }}"
       class="{{ if $active }}active{{ end }}"
    >{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <div class="navigations__hover"></div>
</nav>
